.container {
  max-width: 1108px;
}

.jumbotron {
  text-align: center;
}

.centered {
  text-align: justify;
}

h3 {
  font-size: 25px;
  margin: 27px auto 60px auto;
  padding: 0 60px;
  max-width: 780px;
  color: #686868;
  line-height: 38px;
}

h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "ProximaNovaLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  width: 100%;
  font-size: 36px;
  color: #333333;
  position: absolute;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.navbar-collapse {
  width: auto;
  border-top: 0;
  box-shadow: none;
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  -webkit-font-smoothing: antialiased;
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  text-transform: uppercase;
}

.nav.navbar-nav li a:hover {
  background:none;
  border-bottom: 1px solid #428bca;
}
